@model WebApp.Models.Dto.UpdateProductDto;

@{
    ViewData["Title"] = "Update Product";
    var categoryList = ViewBag.CategoryList;
}


<head>
    <style>
        body {
            background-color: antiquewhite;
            color: black;
        }
    </style>
</head>

<div class="d-flex justify-content-between">
<h2>Update Product</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<a class="btn btn-danger  " asp-controller="Admin" asp-action="AdminHome">Back to Home</a>
</div>
<div class=" container py-3 bg-dark-subtle text-bg-primary">
<form asp-action="Update" method="post" enctype="multipart/form-data" asp-controller="Product" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="ProductId" class="form-label">Product Id</label>
            <input asp-for="ProductId" class="form-control" readonly />
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="ProductCategoryId" class="form-label">Product Category</label>
            <select class="form-select" aria-label="Product Category" asp-for="ProductCategoryId" required>
                <option selected disabled value="">Select Category</option>
                @if (categoryList != null)
                {
                    @foreach (var x in categoryList)
                    {
                        @if (x.CategoryName != "All")
                        {
                            <option value="@x.CategoryId">@x.CategoryName</option>
                        }
                    }
                }
            </select>
            <span asp-validation-for="ProductCategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="ProductName" class="form-label">Product Name</label>
            <input asp-for="ProductName" class="form-control" type="text" placeholder="Product Name" required />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="ProductDescription" class="form-label">Product Description</label>
            <input asp-for="ProductDescription" class="form-control" type="text" placeholder="Product Description" required />
            <span asp-validation-for="ProductDescription" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="ProductPrice" class="form-label">Product Price</label>
            <input asp-for="ProductPrice" class="form-control" type="number" placeholder="Product Price" required />
            <span asp-validation-for="ProductPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="ProductImage" class="form-label">Product Image</label>
            <input asp-for="ProductImage" class="form-control" id="ChooseImage" type="file" placeholder="Product Image" required />
            <span asp-validation-for="ProductImage" class="text-danger"></span>

        </div>
        <div class="col-md-4 offset-4 text-center">
            <img id="PreviewImage" src="https://cdn.iconscout.com/icon/free/png-512/free-image-preview-2715690-2265750.png?f=webp&w=512" width="95%" height="190em" id="ImageUrlPreview" />
        </div>
        <div class="mb-3 form-check">
            <input asp-for="IsAvailable" type="checkbox" class="form-check-input" id="IsAvailable" />
            <label class="form-check-label" for="IsAvailable">Is Active</label>
            <span asp-validation-for="IsAvailable" class="text-danger"></span>
        </div>
        <div class="mb-3 form-check">
            <input asp-for="IsTrending" type="checkbox" class="form-check-input" id="IsTrending" />
            <label class="form-check-label" for="IsTrending">Is Trending</label>
            <span asp-validation-for="IsTrending" class="text-danger"></span>
        </div>
        
        <button type="submit" class="btn btn-light">Update</button>
    </form>
    </div>

@section Scripts
                {
    <script>
        $(document).ready(function () {
            $('#ChooseImage').change(function (e) {
                var url = $('#ChooseImage').val()
                var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase()
                if (ChooseImage.files && ChooseImage.files[0] && (ext == "gif" || ext == "jpg" || ext == "jfif" || ext == "png" || ext == "bmp")) {
                    var reader = new FileReader()
                    reader.onload = function () {
                        var output = document.getElementById('PreviewImage');
                        output.src = reader.result
                    }
                    reader.readAsDataURL(e.target.files[0])
                }
            });
        });
    </script>
}